@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  padding-left: 5px;
  padding-right: 5px; }

.row {
  margin-right: -5px;
  margin-left: -5px; }

.img-responsive {
  width: 100%; }

p {
  font-size: 13px;
  font-weight: 400; }

h3 {
  font-size: 22px;
  font-weight: 700; }

h4 {
  font-size: 20px;
  font-weight: 600; }

nav {
  background: #008AB4;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100; }
  nav .col-xs-10 {
    padding-left: 10px;
    padding-right: 10px; }
  nav.search p {
    display: inline-block; }
  nav.search span {
    margin: 10px 0;
    display: inline-block; }
  nav.search a {
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    margin: 0 3px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #E5E5E5;
  z-index: 10;
  background: white; }
  footer ul.nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around; }
    footer ul.nav-menu li a {
      color: #9B9B9B; }
      footer ul.nav-menu li a.selected {
        color: #008AB4; }
      footer ul.nav-menu li a span {
        font-size: 22px; }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }
.carousel-fade .carousel-control {
  z-index: 2; }

.offer-tile {
  border-radius: 5px;
  background: white;
  margin-bottom: 10px; }
  .offer-tile .content {
    margin: 5px;
    padding-bottom: 5px; }
    .offer-tile .content .title {
      margin: 10px 0;
      height: 50px;
      overflow: hidden;
      position: relative; }
      .offer-tile .content .title h2 {
        margin: 0;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;
        font-weight: 600; }
      .offer-tile .content .title .text-fade {
        height: 10px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 99%, white 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 99%, white 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 99%, white 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        /* IE6-9 */
        position: absolute;
        bottom: 0;
        width: 100%; }
    .offer-tile .content .price-box {
      display: flex;
      justify-content: space-around; }
      .offer-tile .content .price-box .retail-price {
        font-size: 14px;
        color: #9B9B9B;
        font-weight: 600;
        text-decoration: line-through;
        margin: 0;
        line-height: 10px; }
      .offer-tile .content .price-box .save {
        font-size: 12px;
        color: #4A4A4A;
        font-weight: 300;
        letter-spacing: 0; }
      .offer-tile .content .price-box .price {
        font-size: 15px;
        color: #7ED321;
        letter-spacing: 0;
        font-weight: 700; }

.offer-tile-horizontal {
  border-radius: 5px;
  margin: 5px 0;
  border-bottom: 1px solid #DDD; }
  .offer-tile-horizontal .content {
    margin: 5px;
    padding-bottom: 5px; }
    .offer-tile-horizontal .content .title {
      margin: 0;
      height: 35px;
      overflow: hidden;
      position: relative; }
      .offer-tile-horizontal .content .title h2 {
        margin: 0;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;
        font-weight: 600; }
      .offer-tile-horizontal .content .title .text-fade {
        height: 10px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,f4f4f4+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(244, 244, 244, 0) 0%, #f4f4f4 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(244, 244, 244, 0) 0%, #f4f4f4 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(244, 244, 244, 0) 0%, #f4f4f4 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f4f4f4', endColorstr='#f4f4f4',GradientType=0 );
        /* IE6-9 */
        position: absolute;
        bottom: 0;
        width: 100%; }
    .offer-tile-horizontal .content .price-box {
      display: flex;
      justify-content: space-around; }
      .offer-tile-horizontal .content .price-box .retail-price {
        font-size: 14px;
        color: #9B9B9B;
        font-weight: 400;
        text-decoration: line-through;
        margin: 0;
        line-height: 20px; }
      .offer-tile-horizontal .content .price-box .save {
        font-size: 12px;
        color: #4A4A4A;
        font-weight: 300;
        letter-spacing: 0; }
      .offer-tile-horizontal .content .price-box .price p {
        font-size: 15px;
        color: #4A4A4A;
        letter-spacing: 0;
        font-weight: 700;
        line-height: 20px; }

.wanted-tile {
  background: white;
  margin-bottom: 10px; }
  .wanted-tile h2 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    margin: 10px 0;
    font-weight: 600;
    height: 50px;
    overflow: hidden; }
  .wanted-tile .content span {
    color: #999;
    font-size: 12px; }

.user-tile {
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .user-tile header {
    height: 80px;
    background-size: cover;
    background-position: center; }
  .user-tile .content {
    margin: 5px;
    padding-bottom: 5px;
    position: relative;
    margin-top: -30px; }
    .user-tile .content .avatar {
      max-width: 55px;
      margin: auto;
      border: 2px solid white; }
    .user-tile .content .title {
      margin: 10px 0;
      position: relative; }
      .user-tile .content .title h2 {
        margin: 0;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 14px;
        font-weight: 400; }
    .user-tile .content .btn-secondary {
      font-size: 12px; }

#search-categories .offset-categories {
  background: #008AB4;
  color: white;
  height: 100%; }
  #search-categories .offset-categories ul.search-categories {
    padding: 0;
    text-align: center; }
    #search-categories .offset-categories ul.search-categories li {
      margin: 10px 0; }
      #search-categories .offset-categories ul.search-categories li a {
        color: white; }

#search-filters {
  color: white;
  background: #008AB4; }
  #search-filters .filters .line {
    display: block;
    text-align: center;
    position: relative; }
    #search-filters .filters .line:after {
      content: "";
      background: white;
      height: 1px;
      width: 100%;
      position: relative;
      top: -33px;
      left: 0;
      display: inline-block; }
  #search-filters .filters h5 {
    text-align: center;
    background: #008AB4;
    display: inline-block;
    z-index: 1;
    position: relative;
    padding: 0 10px;
    text-transform: uppercase; }
  #search-filters .filters ul {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 0; }
    #search-filters .filters ul li {
      width: 33.3%; }
      #search-filters .filters ul li .icon {
        font-size: 25px;
        width: 50px;
        height: 50px;
        border: 1px solid white;
        text-align: center;
        display: flex;
        border-radius: 50%;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px; }
        #search-filters .filters ul li .icon.selected {
          background: white;
          color: #008AB4; }
      #search-filters .filters ul li p {
        text-align: center;
        margin: 0; }
  #search-filters .filters .price-filter-input {
    width: 100%;
    display: inline-block;
    height: 5px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    margin-bottom: 10px; }
    #search-filters .filters .price-filter-input:after, #search-filters .filters .price-filter-input:before {
      content: "";
      height: 9px;
      width: 9px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: -2px; }
    #search-filters .filters .price-filter-input:after {
      right: 0; }
  #search-filters .filters ul.location {
    list-style: none;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap; }
    #search-filters .filters ul.location li {
      width: 50%; }
      #search-filters .filters ul.location li span {
        padding: 0px 5px;
        margin: 3px 0;
        display: inline-block;
        font-size: 13px; }
        #search-filters .filters ul.location li span strong {
          font-weight: 600;
          margin-right: 5px; }
        #search-filters .filters ul.location li span.selected {
          background: white;
          border-radius: 10px;
          color: #008AB4; }
  #search-filters .clear-filters {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background: #00b1e7;
    padding: 30px 0; }
    #search-filters .clear-filters a {
      color: white; }

#profile .profile-card {
  background: white; }
  #profile .profile-card header {
    min-height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2015/01/24/601321/big_thumb_a16a1f1ef5ab81905531e6d6fc68675a.jpg"); }
  #profile .profile-card .profile-info {
    position: relative;
    top: -50px; }
    #profile .profile-card .profile-info img {
      border: 3px solid rgba(255, 255, 255, 0.7);
      max-width: 100px;
      margin: auto; }
    #profile .profile-card .profile-info h2 {
      font-size: 18px;
      color: #4A4A4A;
      letter-spacing: -0.11px;
      margin: 5px 0;
      text-align: center; }
    #profile .profile-card .profile-info .btn-profile {
      margin-top: 10px; }
      #profile .profile-card .profile-info .btn-profile a {
        margin: 0 3px; }
    #profile .profile-card .profile-info .account-info {
      margin-top: 20px; }
      #profile .profile-card .profile-info .account-info p {
        margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4A4A4A; }

html, body {
  height: 100%; }

.bg-gray {
  background: #F4F4F4; }

hr {
  margin: 0 10px; }

.margin {
  margin: 10px 0; }

.btn {
  color: #4A4A4A;
  padding: 0 5px;
  border: 1px solid #4A4A4A;
  font-size: 13px; }
  .btn.white {
    color: white;
    border: 1px solid white; }
  .btn.btn-primary {
    background: #008AB4;
    border-color: #008AB4;
    color: white; }
  .btn.btn-default {
    border-color: #9B9B9B;
    background: #9B9B9B;
    color: white; }
  .btn.btn-secondary {
    border-color: #7ED321;
    background: #7ED321;
    color: white; }

.well {
  padding: 10px;
  background: white;
  box-shadow: none;
  border: none; }

.white {
  color: white; }

.gold {
  color: gold; }

.gray {
  color: #ccc; }

header {
  color: white; }
  header .carousel .carousel-caption {
    left: 15px;
    right: 15px;
    text-align: left; }
    header .carousel .carousel-caption ul {
      list-style: none;
      padding: 0; }
      header .carousel .carousel-caption ul li {
        color: white;
        line-height: 16px; }
        header .carousel .carousel-caption ul li:before {
          content: "+ "; }

.offset {
  padding-top: 55px;
  padding-bottom: 70px; }

.offset-search {
  padding-top: 108px;
  padding-bottom: 70px; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.categories {
  display: flex;
  flex-wrap: nowrap;
  padding: 15px 10px;
  overflow-x: scroll; }
  .categories article {
    flex: 1;
    margin: 0 15px;
    min-width: 80px; }

ul.social-circle {
  padding: 0;
  text-align: center;
  margin: 15px 0; }
  ul.social-circle li {
    display: inline-block;
    margin: 0 3px; }
    ul.social-circle li span {
      background: #9B9B9B;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      text-align: center;
      line-height: 30px;
      color: white;
      font-size: 16px; }

ul.tags {
  padding: 0; }
  ul.tags li {
    display: inline-block;
    background: #ddd;
    border-radius: 3px;
    padding: 1px 5px;
    margin: 5px 5px 5px 0; }

ul.rating {
  text-align: center;
  margin-bottom: 10px;
  padding: 0; }
  ul.rating li {
    display: inline-block; }

/*# sourceMappingURL=style.css.map */
