nav{
	background: $color1;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index:100;
	.col-xs-10{
		padding-left:10px;
		padding-right: 10px;
	}

	&.search{
		p{
			display: inline-block;
		}

		span{
			margin: 10px 0;
			display: inline-block;
		}
		a{
			color: white;
			font-size: 13px;
			font-weight: 600;
			display: inline-block;
			margin: 0 3px;
		}
	}
}


