nav{
	background: $color1;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index:100;
	.col-xs-10{
		padding-left:10px;
		padding-right: 10px;
	}

	&.search{
		span{
			margin: 10px 0;
			display: inline-block;
		}	
	}
}


