.offer-tile{
	border-radius: 5px;
	background: white;
	margin-bottom: 10px;
	.content{
		margin: 5px;
		padding-bottom: 5px;	
		

		.title{
			margin: 10px 0;
			height: 50px;
			overflow: hidden;
			position: relative;
			h2{
				margin: 0;
				font-size: 14px;
				letter-spacing: 0;
				line-height: 14px;
				font-weight: 600;
				
			}
			.text-fade{
				height: 10px;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+99 */
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

				position: absolute;
				bottom: 0;
				width: 100%;

			}
		}


		.price-box{
			display: flex;
			justify-content: space-around;
			.retail-price{
				font-size: 14px;
				color: #9B9B9B;
				font-weight: 600;
				text-decoration: line-through;
				margin: 0;
				line-height: 10px;
			}
			.save{
				font-size: 12px;
				color: $text-color;
				font-weight: 300;
				letter-spacing: 0;
			}

			.price{	
				font-size: 15px;
				color: #7ED321;
				letter-spacing: 0;
				font-weight: 700;
			}
		}
	}
}

.wanted-tile{
	background: white;
	margin-bottom: 10px;
	h2{
		font-size: 14px;
		letter-spacing: 0;
		line-height: 14px;
		margin: 10px 0;
		font-weight: 600;
		height: 50px;
		overflow: hidden;
	}
	.content{
		span{
			color:#999;
			font-size: 12px;
		}
	}
	
}