#search-filters{
	color: white;
	background: $color1;
	.filters{
		.line{
			display: block;
			text-align: center;
			position: relative;
			&:after{
				content: "";
				background: white;
				height: 1px;
				width: 100%;
				position: relative;
				top: -33px;
				left: 0;
				display: inline-block;			
			}
		}
		h5{
			text-align: center;
			background: $color1;
			display: inline-block;
			z-index: 1;
	    	position: relative;
	    	padding: 0 10px;
	    	text-transform: uppercase;

		}
		ul{
			display: flex;
			width: 100%;
			list-style: none;
			padding: 0;
			li{
				width: 33.3%;
				.icon{
				    font-size: 25px;
				    width: 50px;
				    height: 50px;
				    border: 1px solid white;
				    text-align: center;
				    display: flex;
				    border-radius: 50%;
				    margin: auto;
				    justify-content: center;
				    align-items: center;
				    margin-bottom: 10px;
				    &.selected{
				    	background: white;
				    	color: $color1;
				    }
				}
				p{
					text-align: center;
					margin: 0;
				}
			}
		}

		.price-filter-input{
			width: 100%;
			display: inline-block;
			height: 5px;
			border-radius: 3px;
			background: rgba(255,255,255,0.6);
			position: relative;
			margin-bottom: 10px;
			&:after, &:before{
				content:"";
				height: 9px;
				width: 9px;
				background: white;
				border-radius: 50%;
				display: inline-block;
				position: absolute;
				top: -2px;
			}
			&:after{
				right: 0;
			}
		}

		ul.location{
			list-style: none;
			display: flex;
			overflow: hidden;
			flex-wrap: wrap;
			li{
				width: 50%;
				span{
					padding: 0px 5px;
    				margin: 3px 0;
    				display: inline-block;font-size: 12px;
					strong{
						font-weight: 600;
						margin-right: 5px;
					}

					&.selected{
						background: white;
						border-radius: 10px;
						color: $color1;
					}
				}
			}
		}
	}

	.clear-filters{
		border-top: 1px solid rgba(255,255,255,0.5);
		background: lighten($color1, 10%);
		padding: 30px 0;
		a{
			color: white; 
		}
	}
}