.user-tile{
	border-radius: 5px;
	background: white;
	margin-bottom: 10px;
	padding-bottom: 10px;
	header{
		height: 80px;
		background-size: cover;
		background-position: center;
	}
	.content{
		margin: 5px;
		padding-bottom: 5px;
		position: relative;
		margin-top: -30px;	
		
		.avatar{
			max-width: 55px;
			margin: auto;
			border: 2px solid white;
		}

		.title{
			margin: 10px 0;
			position: relative;
			h2{
				margin: 0;
				font-size: 14px;
				letter-spacing: 0;
				line-height: 14px;
				font-weight: 400;
				
			}
		}

		.btn-secondary{
			font-size: 12px;
		}
	}
}