

@import "vars";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
@import "bootstrap-fix";
@import "text";
@import "nav";
@import "footer";
@import "slider";
@import "offer-tile";
@import "user-tile";
@import "search-categories";
@import "search-filters";
@import "profile";
@import "edit-profile";

body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #4A4A4A;
}

html, body{
	height: 100%;
}

.bg-gray{
	background: #F4F4F4;
}


hr{
	margin: 0 10px;
}

.margin{
	margin: 10px 0;
}

.btn{
		color: $text-color;
		padding: 0 5px;
		border: 1px solid $text-color;
		font-size: 13px;
	&.white{
		color: white;
		border: 1px solid white;
	}
	&.btn-primary{
		background: $color1;
		border-color:$color1;
		color: white;
	}
	&.btn-default{
		border-color: $icon-gray;
		background: $icon-gray;
		color: white;
	}

	&.btn-secondary{
		border-color: $color2;
		background: $color2;
		color: white;
	}

	&.btn-lg{
		font-size: 14px;
		padding: 5px;
	}
}

.well{
	padding: 10px;
    background: white;
    box-shadow: none;
    border: none;
}

.white{
	color: white;
}

.gold{
	color: gold;
}

.gray{
	color: #ccc; 
}

header{
	color: white;
	.carousel{
		.carousel-caption{
			left: 15px;
			right: 15px;
			text-align: left;
			ul{
				list-style: none;
				padding: 0;
				li{
					color: white;
					line-height: 16px;
					&:before{
						content:"+ ";
					}
				}
			}
		}
	}
}

.offset{
	padding-top: 55px;
	padding-bottom: 70px;
}

.offset-search{
	padding-top: 108px;
	padding-bottom: 70px;
}


.no-padding-left{
	padding-left: 0;
}

.no-padding-right{
	padding-right: 0;
}


.categories{
	display: flex;
	flex-wrap: nowrap;
	padding: 15px 10px;
	overflow-x: scroll; 
	article{
		flex: 1;
		margin: 0 15px;
		min-width: 80px;
	}
}



ul.social-circle{
	padding: 0;
	text-align: center;
	margin: 15px 0;
	li{
		display: inline-block;
		margin: 0 3px;
		span{
			background: $icon-gray;
			display: inline-block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			text-align: center;
			line-height: 30px;
			color: white;
			font-size: 16px;
		}
	}
}


ul.tags{
	padding: 0;
	li{
		display: inline-block;
		background: #ddd;
		border-radius: 3px;
		padding: 1px 5px;
		margin: 5px 5px 5px 0;

	}
}


ul.rating{
	text-align: center;
	margin-bottom: 10px;
	padding: 0;
	li{
		display: inline-block;
	}
}





